build/
target/
felix-cache/
/felix/bin/
/felix/bundle/
/felix/conf
/felix/ext
/felix/core.*
/felix/*.log
com.ymbl.smartgateway.extension/jni/iptables/
com.ymbl.smartgateway.extension/src/main/java/xtables/
com.ymbl.smartgateway.extension/jni/RedirectToSock5Service/Makefile
RedirectToSocks5Service.vcxproj.filters
transite.so
rectsocks5.so
libip4tc.so*
libip6tc.so*
libxtables.so*
a.out
.settings/
*.swp
.deps/
.libs/
Makefile.in
*.o
*.lo
*.la
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
libtool
ltmain.sh
