build/
target/
felix-cache/
/felix/bin/
/felix/bundle/
/felix/conf
/felix/ext
/felix/core.*
/felix/*.log
.svn
com.ymbl.smartgateway.extension/jni/iptables/
com.ymbl.smartgateway.extension/jni/xl2tpd/
com.ymbl.smartgateway.extension/jni/ppp/
com.ymbl.smartgateway.extension/jni/lua/
com.ymbl.smartgateway.extension/jni/RedirectToSock5Service/Makefile
transite-*.zip
/*/src/main/java/sudo
/*/src/main/java/xtables/
/*/src/main/java/options.l2tpd.client
/*/src/main/java/xl2tpd.conf
/*/src/main/java/options
/*/src/main/java/myplugin.lua
RedirectToSocks5Service.vcxproj.filters
IpTables.so
Lua.so
RedirectToSocks5Service.so
XL2tpd.so
lua
xl2tpd
pppd
openl2tp.so
pppol2tp.so
libip4tc.so*
libip6tc.so*
libxtables.so*
a.out
.settings/
*.swp
.deps/
.libs/
Makefile.in
*.o
*.lo
*.la
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
libtool
ltmain.sh
